<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <br/>
        <a href="swagger-ui.html"><img src="img/swagger.png" alt="Swagger API" height="26" width="100"/></a>
        <ul>
            <li><a href="countries/api/v1/flags/countries">Call Web Services sample.</a></li>
            <li><a href="countries/api/v1/flags/fr">Call Web Services svg sample.</a></li>
            <li><a href="countries/api/v1/flags/fr/40/40">Call Web Services png sample.</a></li>
            <li><a href="health">Call health status from actuator.</a></li>
        </ul>
    </body>
</html>