<div class="app-login">
    <div class="app-login-head">
        <div style="width:100px;"><app-logo></app-logo></div>
        <p style="text-align: center"> Countries appication </p>
    </div>
    <form class="app-login-form" name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
        <input type="text"     placeholder="Username (demo)" name="username" [(ngModel)]="model.username" #username="ngModel" required/>
        <input type="password" placeholder="Password (demo)" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
        <button type="submit" class="btn btn-primary">LOG IN</button>
    </form>
    <div class="app-login-foot">
        <div *ngIf="errMsg" style="color:indianred; font-weight: bold">{{errMsg}}</div>
    </div>

</div>
